body{
  font-family: 'Amatic SC', cursive;
  font-size: 100%;
  margin-top: 0;
  margin: 15px auto;
  color: white;
  text-align: center;
  background-color: black;
}

header{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
  background-color: white;
  color:black;
}

nav{
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background-color: skyblue;
  color:black;
  display: block;
}

nav li {
  list-style-type:none;
  display:inline;
  padding: 4em;
}
a:link{
  text-decoration:none;
}

nav li a:hover{
  background-color: black;
  color:skyblue;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    text-align: center;

}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    color:blue;
    font-weight: bold;

}

h3{
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: blue;
}
p{
  font-size: 50px;
  font-style:oblique;}
blockquote {font-size:40px;}
em{font-size: 100px;}
li {
  list-style-type:none;
  font-size: 30px;
}
li h4 {
  font-size: 50px;
  color:blue;
}
article{
background-color: white;
color: black;
width 800px;
margin-right:400px;
}
section {
background-color:skyblue;
color:black;
width 800px;
margin-left: 400px;
margin right:400px;
}
section img {
width:200px;
height:300px; }
section h3 {font-size: 100px;}
div {
background-color:white;
width: 400px;
padding: 10px;
margin-right: 25px;
}
